<!DOCTYPE html>
<html>
    <head>
    
        
        <meta charset="utf-8" />
        <title>Peer Angular</title>
        
        <meta name="description" content="AngularJS with Peer to Peer Apps">
        <meta name="author" content="Earl Ferguson" />
    
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,700italic,300,400,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/normalize.css" />
        <link rel="stylesheet" href="css/presentation.css" />
        
    </head>
    <body>
        
    <div class="background"></div>
    
	<div id="hint">presentation by <a href="http://twitter.com/ejferg">Earl Ferguosn/a>
		- use the spacebar or arrow keys to navigate</div>
	
	<div id="impress">
		
        <div id="start" class="step">
            <div class="big bold">
    			<div id="start-text1">Peer Angular</div>
				<div id="start-text2">What is WebRTC?</div>
			</div>
        <div>
        
        <div id="what" class="step">
			<div class="big bold">
				<div id="what-text1">Responsive websites</div>
				<div id="what-text2">respond</div>
				
			</div>
            
            <div id="what-text3" class="big extralight">to their environment</div>
		</div>
        
    </div>
	
         <!-- Dependencies -->
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
         <script src="../lib/impress.js/js/impress.js"></script>
         <!-- <script type="text/javascript">impress().init();</script> -->

        
    </body>
</html>
